.button {
  display: flex;
  width: fit-content;
  height: fit-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 2.81rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  color: var(--color-text-primary);
  text-decoration: none;
  box-sizing: border-box;
}

.button.primary {
  background-color: var(--color-accent);
}

.button.primary:hover {
  background-color: var(--color-accent-hover);
}

.button.primary:active {
  background-color: var(--color-accent-active);
}

.button.secondary {
  background-color: var(--color-bg-secondary);
}

.button.secondary:hover {
  background-color: var(--color-bg-secondary-hover);
}

.button.secondary:active {
  background-color: var(--color-bg-secondary-active);
}

.fullWidth {
  width: 100%;
}
