.toast {
  position: relative;
  background-color: var(--color-bg-secondary);
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  z-index: inherit;
}

.toast p {
  font-weight: 500;
}

.toast.success {
  background-color: var(--color-status-success);
}

.toast.error {
  background-color: var(--color-status-error);
}
